<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="MoodleWsppUrl" value="http://localhost/moodle/wspp/service_pp2.php"/>
    <add key="MoodleWebserviceUsername" value="wsmoodle"/>
    <add key="MoodleWebservicePassword" value="wsMoodle@2015"/>
    <add key="MoodleWebserviceToken" value="fac788ba1ac61e460e3d8d662f30a680"/>
    <add key="UseProxy" value="FALSE"/>
    <add key="ProxyUsername" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="ProxyDomain" value=""/>
    <add key="ProxyUrl" value=""/>
    <add key="ExpectContinue" value="TRUE"/>
    <add key="Port" value="0"/>
    <add key="WebserviceUrl" value="http://localhost/moodle/wspp/service_pp2.php"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="mdl_soapserverBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/moodle/wspp/service_pp2.php" binding="basicHttpBinding" bindingConfiguration="mdl_soapserverBinding" contract="WsppMoodle.mdl_soapserverPortType" name="mdl_soapserverPort"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="WsMoodle.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>